/* Bootstrap表格内容垂直居中，参考：https://blog.csdn.net/peng_hong_fu/article/details/70662979 */
.table tbody tr td {
    vertical-align: middle;
}
.table tbody tr th {
    vertical-align: middle;
}

/* 把 POST Form 做成单个按钮 */
.form-inline-btn{
    display: inline-block;
}