@model CrawlCenter.Data.Models.CrawlTask

@{
    ViewData["Title"] = "爬虫详情 - 数据采集";
}

@section SideMenu {
    <partial name="_SideMenu" />
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">爬虫详情</h1>
</div>

<partial name="Widgets/CrawlTaskCard" model="Model" />
