@using CrawlCenter.Data.Models
@model IEnumerable<CrawlCenter.Data.Models.ConfigSection>
@{
    ViewData["Title"] = "配置中心";
}

@section SideMenu {
    <partial name="_SideMenu"/>
}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">配置中心</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span data-feather="calendar"></span>
                选择爬虫任务
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">公用配置</a>
            </div>
        </div>
        <div class="btn-group">
            <a class="btn btn-outline-primary" asp-controller="ConfigCenter" asp-action="Add">
                <span data-feather="plus"></span>
                新增
            </a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-2">
        <partial name="Widgets/SectionListCard" model="Model"/>
    </div>
    <div class="col-10">
        <partial name="Widgets/SetionListEditCard" model="Model"/>
    </div>
</div>