@{
    ViewData["Title"] = "Privacy Policy";
}

@section SideMenu {
    <partial name="_SideMenu"/>
}

<h1 class="mt-3">@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>